<html>
   <body>
      <center>
      <header> <h1> Information Request Portal </h1> </header>
      <br> <br>


      <center>
      <form action = "{{ url_for('addrec') }}" method = "POST">

          <label> Search for and count all earthquakes that occurred with a magnitude greater
          than 5.0</label>
          <input type = "submit" value = "submit" /><br>
          <label>Answer: No of records gotten </label> <strong>{{msg}}</strong>
      </form>

      <form action = "{{ url_for('query_search1') }}" method = "POST">
      <h3>Earth quake data</h3>
          <label>Range 1</label><input type = "text" name = "range1" /></br>
          <label>Range 2</label><input type = "text" name = "range2" /></br>

          <select name="length">
              <option value="day">day</option>
              <option value="week">week</option>
              <option value="month">month</option>
          </select>
      <input type = "submit" value = "submit" /><br>

          <h2> Display results here</h2>
             <table border = 1>
         <thead>
            <td>Mag</td>
            <td>Lat</td>
            <td>Long</td>

         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["mag"]}}</td>
            <td>{{row["latitude"]}}</td>
            <td> {{ row["longitude"]}}</td>

         </tr>
         {% endfor %}
      </table>
      </form>
      </center>
      <br>
      <h2> <a href = "/">Home</a> </h2>

   </body>
</html>